In [2]:
import pandas as pd
import numpy as np

In [3]:
tweets_df = pd.read_csv(r'../scraper/tweets.csv')
tweets_df.fillna(0)

,User,Handle,PostDate,TweetText,ReplyCount,RetweetCount,LikeCount
0,Kimberly Lantis,@KimLantis,2021-09-30T15:54:03.000Z,Hey \n@dojolive\n fans! We have a new podcast ...,0.0,0.0,0.0
1,Ryan Hurst,@rmhrisk,2021-09-30T15:54:03.000Z,We are dependant on a number of ancient techno...,0.0,0.0,0.0
2,ملاك حداد,@ivbaoshi,2021-09-30T15:54:01.000Z,All this technology and the public forget that...,0.0,0.0,0.0
3,GalaxyOne,@Galaxy_One1,2021-09-30T15:54:01.000Z,What is a NFT?\n\n#technologies #Technologie #...,0.0,0.0,0.0
4,Antifa #SquirrelSquad Officer,@SquizzRadical,2021-09-30T15:54:00.000Z,We already created God. Think we godda work on...,0.0,0.0,0.0
...,...,...,...,...,...,...,...
1854,ARSLAN|ARTAH|,@fgfsh1633010846,2021-09-30T14:10:54.000Z,"Country to least have a lot, they\nPeople comm...",0.0,0.0,1.0
1855,RPML Technology Pvt Ltd,@dnshkmr73,2021-09-30T14:10:54.000Z,We have team of better experienced developers ...,0.0,0.0,0.0
1856,Mud Cat Dredges,@MudCatDredge,2021-09-30T14:10:52.000Z,Two Mud Cat E-Series Dredges were started up l...,0.0,0.0,1.0
1857,RjTradingStocks,@rjstocks3,2021-09-30T14:10:52.000Z,Replying to \n@HKHabibKhan7\n\nAre they being ...,0.0,1.0,2.0
1858,"Evan Dando, writing a newsletter on disinforma...",@EvavonSchaper,2021-09-30T14:10:52.000Z,"Hey, do you want to know what happened in the ...",1.0,1.0,2.0

In [4]:
tweet_text = pd.Series(tweets_df['TweetText'])
tweet_text

0       Hey \n@dojolive\n fans! We have a new podcast ...
1       We are dependant on a number of ancient techno...
2       All this technology and the public forget that...
3       What is a NFT?\n\n#technologies #Technologie #...
4       We already created God. Think we godda work on...
                              ...
1854    Country to least have a lot, they\nPeople comm...
1855    We have team of better experienced developers ...
1856    Two Mud Cat E-Series Dredges were started up l...
1857    Replying to \n@HKHabibKhan7\n\nAre they being ...
1858    Hey, do you want to know what happened in the ...
Name: TweetText, Length: 1859, dtype: object

In [5]:
# from nltk.corpus import stopwords
# nltk.download('stopwords')
# from nltk.tokenize import word_tokenize
from collections import Counter

bag_of_words = (
    tweet_text.
    str.lower().
    str.replace("[^\w\s]", " ").  
    str.split()
).apply(Counter)

bag_of_words

/var/folders/h3/053lnxhs553dxxx0xrkvs64m0000gn/T/ipykernel_82850/430651218.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  tweet_text.

0       {'hey': 1, 'dojolive': 2, 'fans': 1, 'we': 1, ...
1       {'we': 1, 'are': 3, 'dependant': 1, 'on': 1, '...
2       {'all': 1, 'this': 1, 'technology': 1, 'and': ...
3       {'what': 1, 'is': 1, 'a': 1, 'nft': 1, 'techno...
4       {'we': 2, 'already': 1, 'created': 1, 'god': 1...
                              ...
1854    {'country': 1, 'to': 1, 'least': 1, 'have': 1,...
1855    {'we': 2, 'have': 3, 'team': 1, 'of': 1, 'bett...
1856    {'two': 1, 'mud': 1, 'cat': 1, 'e': 1, 'series...
1857    {'replying': 1, 'to': 2, 'hkhabibkhan7': 1, 'a...
1858    {'hey': 1, 'do': 1, 'you': 1, 'want': 1, 'to':...
Name: TweetText, Length: 1859, dtype: object

In [6]:
# cleaned_bag = pd.Series()

# for line in bag_of_words:
#     words = word_tokenize(text)
#     words_without_sw = [word for word in words if not word in stopwords.words()]
#     cleaned_bag.append(words_without_sw)
    
# cleaned_bag

In [7]:
# import re

# BoW = []

# for words in cleaned_bag:
#     regex = re.compile('^[A-Za-z0-9_-]*$')
#     words_wo_symbols = list(filter(regex.match, words))
#     BoW.append(words_wo_symbols)
    
# BoW = pd.Series(BoW)

In [8]:
# BoW

In [9]:
tf = pd.DataFrame(list(bag_of_words))
tf = tf.fillna(0)
tf

,hey,dojolive,fans,we,have,a,new,podcast,available,on,...,craters,mudcat,dredging,spectacular,beliefs,inoculated,tthe,portugal,wikimedia,theinoculation
0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1854,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1855,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1857,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1858,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.0,1.0,1.0,1.0,1.0

In [10]:
tf_sparse = np.matrix(tf)
tf_sparse

matrix([[1., 2., 1., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [1., 0., 0., ..., 1., 1., 1.]])

In [11]:
df = (tf > 0).sum(axis=0)
df

hey                 7
dojolive            1
fans                2
we                278
have              228
                 ...
inoculated          1
tthe                1
portugal            1
wikimedia           1
theinoculation      1
Length: 14068, dtype: int64

In [12]:
idf = np.log(len(tf) / df)
idf

hey               5.581884
dojolive          7.527794
fans              6.834647
we                1.900173
have              2.098448
                    ...
inoculated        7.527794
tthe              7.527794
portugal          7.527794
wikimedia         7.527794
theinoculation    7.527794
Length: 14068, dtype: float64

In [13]:
tf_idf = tf * idf
tf_idf

,hey,dojolive,fans,we,have,a,new,podcast,available,on,...,craters,mudcat,dredging,spectacular,beliefs,inoculated,tthe,portugal,wikimedia,theinoculation
0,5.581884,15.055588,6.834647,1.900173,2.098448,0.886612,2.038856,9.389161,4.231957,1.571957,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,1.900173,0.000000,0.886612,0.000000,0.000000,0.000000,1.571957,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.886612,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,3.800346,0.000000,0.000000,0.000000,0.000000,0.000000,1.571957,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1854,0.000000,0.000000,0.000000,0.000000,2.098448,0.886612,0.000000,0.000000,0.000000,1.571957,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1855,0.000000,0.000000,0.000000,3.800346,6.295345,0.000000,0.000000,0.000000,0.000000,1.571957,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1856,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.527794,7.527794,7.527794,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1857,0.000000,0.000000,0.000000,0.000000,0.000000,0.886612,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,7.527794,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1858,5.581884,0.000000,0.000000,1.900173,0.000000,0.886612,2.038856,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,15.055588,15.055588,7.527794,7.527794,7.527794,7.527794

,hey,dojolive,fans,we,have,a,new,podcast,available,on,...,craters,mudcat,dredging,spectacular,beliefs,inoculated,tthe,portugal,wikimedia,theinoculation
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1854,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1855,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1856,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1857,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1858,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [62]:
query = pd.Series(input())

We have a

In [63]:
query = (query.str.lower().str.replace("[^\w\s]", " ").str.split()).apply(Counter)

/var/folders/h3/053lnxhs553dxxx0xrkvs64m0000gn/T/ipykernel_82850/2777948243.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  query = (query.str.lower().str.replace("[^\w\s]", " ").str.split()).apply(Counter)

In [64]:
query = pd.DataFrame(list(query))
query

   we  have  a
0   1     1  1

In [65]:
a = query
B = tf_idf
dot = a.multiply(B).sum(axis=1)
dot

0       4.885233
1       0.000000
2       0.000000
3       0.000000
4       0.000000
          ...
1854    0.000000
1855    0.000000
1856    0.000000
1857    0.000000
1858    0.000000
Length: 1859, dtype: float64

In [66]:
# Calculate the denominators.
a_len = np.sqrt(a.multiply(a).sum())
b_len = np.sqrt(B.multiply(B).sum(axis=1))
print(a_len)
b_len

we      1.0
have    1.0
a       1.0
dtype: float64

0       26.761841
1       25.086466
2       15.909272
3       22.015645
4       29.684281
          ...
1854    27.918680
1855    35.920535
1856    35.962044
1857    24.943558
1858    45.879189
Length: 1859, dtype: float64

In [67]:
# Calculate their ratio to obtain cosine similarities.
ratio = dot / (a_len * b_len)
ratio = ratio.fillna(0)
ratio

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1857    0.0
1858    0.0
a       0.0
have    0.0
we      0.0
Length: 1862, dtype: float64

In [68]:
cos_similarities = pd.DataFrame(ratio)[0]
most_similar = cos_similarities.sort_values(ascending=False)
most_similar

0       0.0
1237    0.0
1249    0.0
1248    0.0
1247    0.0
       ...
616     0.0
615     0.0
614     0.0
613     0.0
we      0.0
Name: 0, Length: 1862, dtype: float64